<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

## RAJKUMAR TRIPATHY

Supply Chain Data Scientist

* I am interested in data science Data science is one of the broadest fields available for individuals with a mathematical or statistical background. There are plenty of open positions that require data science skills.

### The following code sets a numeric variable to 5, then multiplies 10 to the variable.

In [1]:
a = 5
a = a*10
a

50

<!DOCTYPE html>
<html>
<body>

<h1>The ul element</h1>

<ul>
  <li>Coffee</li>
  <li>Sugar</li>
  <li>Milk</li>
</ul>

</body>
</html>



<img src="pic_trulli.jpg" alt="Italian Trulli">



<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>TD elements define table cells</h2>

<table style="width:100%">
  <tr>
    <td>Emil</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
</table>

<p>To undestand the example better, we have added borders to the table.</p>

</body>
</html>

print ("hi")

<table style="width:20%">
<tr>
<th><Name></th>
<th><Address></th>
<th><Salary></th>
</tr>

<tr>
<td><Hanna></td>
<td><Brisbane></td>
<td><4000></td>
</tr>

<tr>
<td><Adam></td>
<td><Sydney></td>
<td><5000></td>
</tr>
</table>